*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#1f1f1f 10%, #63d4be 65%,#db8a8a);
}

.header{
    width: 100vw;
    height: 70px;
    background: linear-gradient(#63d4be 40%, #db8a8a);
}

.seatsyncbilde1{
    width: 300px;
}