
body {
    background: radial-gradient(#00f2ff 10%, #04b8c1 65%,#00ffd9);
}

.header{
    height: 70px;
    background: linear-gradient(45deg, #00f2ff 40%, #00ffd9);
}

.seatsyncbilde1{
    width: 300px;
}

.nansen_klassen{
    width: 200px;
}

.Bournemouth_and_poole_college{
    width:900px;
    height:110px;
}

.s371428{
    font-size: 20px;
}

.vevat8933{
    font-size:20px;
}

.s383059{
    font-size:20px;
}

.s371394{
    font-size:20px;
}