*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#1f1f1f 20%, #db8a8a);
}

.header{
    width: 100vw;
    height: 70px;
    background-color: #db8a8a;
}