* { /** Have you played with '*' vs 'body'? The '*' will affect _every_ element in the HTML, and may play havoc when you use nested elements :-) **/
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#047e58 10%, #048f96 65%,#00ffd9);
}

.header{
    width: 100vw;
    height: 70px;
    background: linear-gradient(45deg, #63d4be 40%, #db8a8a);
}

.seatsyncbilde1{
    width: 300px;
}

.nansen_klassen{
    width: 200px;
}
